<div class="userWrapper">
    <h2 class="username">
        <%= @user.username %>
    </h2>
    <p class="userEdit">
        <% if @current_user.id == @user.id%>
            <%= link_to "ユーザー情報を編集", users_edit_path(@current_user.id) %>
        <% else %>
            <% if @user.followed_by?(@current_user) %>
                <%= link_to "フォロー済", user_relationships_path(@user.id), data: {turbo_method: :delete} %>
            <% else%>
                <%= link_to "フォローする", user_relationships_path(@user.id), data: {turbo_method: :post} %>
            <% end %>
        <% end %>
    </p>
    <div class="followWrapper">
        <div class="followWrapper">
            <%= link_to follow_user_path(@user.id) do %>
                <p>
                        フォロー <%= @following_count %>
                </p>
            <% end %>
            <%= link_to followers_user_path(@user.id) do %>
                <p>
                        フォロワー <%= @follower_count %>
                </p>
            <% end %>
        </div>
    </div>
</div>
<div class="postsContainer">
    <div class="tabMenu">
        <p><%= link_to "投稿", users_show_path(@user.id) %></p>
        <p class="active">いいね！</p>
    </div>
    <ul class="postList">
        <%= render partial: 'shared/posts_index', collection: @liked_posts, as: 'post' %>
    </ul>
    <%= paginate @liked_posts %>
</div>