<div class="userWrapper">
    <h2 class="username">
        <%= @current_user.username %>
    </h2>
    <p class="userEdit">
        <% if @current_user.id == @user.id%>
            <%= link_to("ユーザー情報を編集", "/users/#{@current_user.id}/edit") %>
        <% else %>
            <%= link_to("フォローする", "/users/#{@current_user.id}/edit") %>
        <% end %>
    </p>
    <div class="followWrapper">
        <p>フォロー</p>
        <p>フォロワー</p>
    </div>
</div>
<div class="postsContainer">
    <div class="tabMenu">
        <p><%= link_to("投稿", "/users/#{@user.id}") %></p>
        <p class="active">いいね！</p>
    </div>
    <ul class="postList">
        <% @likes.each do |like| %>
            <% post = Post.find_by(id: like.post_id) %>
            <li class="postItem">
                <p class="postAuthor"><%= link_to post.user.username, "/users/#{post.user.id}" %></p>
                <div class="postBody">
                    <%= post.content %>
                </div>
                <div class="postBottom">
                    <% likes_count = Like.where(post_id: post.id).count %>
                    <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to dislikes_in_profile_path(post.id), data: { turbo_method: :delete} do%>
                            <div class="likes"><i class="fa-solid fa-heart like"></i><span><%= likes_count %></span></div>
                        <% end %>
                    <% else %>
                        <%= link_to  likes_in_profile_path(post.id), data: { turbo_method: :post } do %>
                            <div class="likes"><i class="fa-solid fa-heart unlike"></i><span><%= likes_count %></span></div>
                        <% end %>
                    <% end %>
                    <div class="buttons">
                        <%= link_to("編集", "/posts/#{post.id}/edit", class: "editBtn") %>
                        <%= button_to "削除", "/posts/#{post.id}/delete", method: :post, class: "deleteBtn" %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>