<div class="userWrapper">
    <h2 class="username">
        <%= @user.username %>
    </h2>
    <p class="userEdit">
        <% if @current_user.id == @user.id%>
            <%= link_to "ユーザー情報を編集", users_edit_path(@current_user.id) %>
        <% else%>
            <% if @user.followed_by?(@current_user) %>
                <%= link_to "フォロー済", user_relationships_path(@user.id), data: {turbo_method: :delete} %>
            <% else%>
                <%= link_to "フォローする", user_relationships_path(@user.id), data: {turbo_method: :post} %>
            <% end %>
        <% end %>
    </p>
    <div class="followWrapper">
        <%= link_to follow_user_path(@user.id) do %>
            <p>
                    フォロー <%= @following_count %>
            </p>
        <% end %>
        <%= link_to followers_user_path(@user.id) do %>
            <p>
                    フォロワー <%= @follower_count %>
            </p>
        <% end %>
    </div>
</div>
<div class="postsContainer">
    <div class="tabMenu">
        <p class="active">投稿</p>
        <p><%= link_to "いいね！", users_likes_path(@user.id) %></p>
    </div>
    <ul class="postList">
        <% @posts.each do |post| %>
            <li class="postItem">
                <p class="postAuthor"><%= link_to post.user.username, users_show_path(post.user.id) %></p>
                <p class="date"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <div class="postBody">
                    <p><%= post.content %></p>
                </div>
                <div class="postBottom">
                    <% likes_count = post.likes.size %>
                    <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                        <%= link_to unlike_path(post.id), data: { turbo_method: :delete} do%>
                            <div class="likes"><i class="fa-solid fa-heart like"></i><span><%= likes_count %></span></div>
                        <% end %>
                    <% else %>
                        <%= link_to  like_path(post.id), data: { turbo_method: :post } do %>
                            <div class="likes"><i class="fa-solid fa-heart unlike"></i><span><%= likes_count %></span></div>
                        <% end %>
                    <% end %>
                    <div class="buttons">
                        <%= link_to "編集", posts_edit_path(post.id), class: "editBtn" %>
                        <%= link_to  "削除", posts_delete_path(post.id), data: { turbo_method: :delete }, class: "deleteBtn" %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
    <%= paginate @posts %>
</div>