<div class="postListPage">
    <ul class="postList">
        <% @posts.each do |post| %>
            <li class="postItem">
                <p class="postAuthor"><%= post.user.username %></p>
                <p class="date"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
                <div class="postBody">
                    <%= post.content %>
                </div>
                <div class="postBottom">
                    <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                            <%# <div class="likes"><i class="fa-solid fa-heart like"></i></div> %>
                    <% else %>
                        <%# <div class="likes"><i class="fa-solid fa-heart unlike"></i></div> %>
                    <% end %>
                    <% if @current_user.id == post.user_id %>
                        <div class="buttons">
                            <%= link_to("編集", "/posts/#{post.id}/edit", class: "editBtn") %>
                            <%= button_to "削除", "/posts/#{post.id}/delete", method: :post, class: "deleteBtn" %>
                        </div>
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>
